<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Update.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Update.Properties.Settings>
      <setting name="ConnectUO_Framework_Web_ConnectUO_x0020_Web_x0020_Service"
        serializeAs="String">
        <value>http://209.173.140.55/ConnectUOService/ConnectUO.asmx</value>
      </setting>
    </Update.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="ConnectUODataContext" connectionString="metadata=res://*/Data.ConnectUODataContext.csdl|res://*/Data.ConnectUODataContext.ssdl|res://*/Data.ConnectUODataContext.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;Data.jab&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <log4net>
    
    <!-- always have a trace appender for the debugger -->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%t] %-5p [%x] - %m%n" />
      </layout>
    </appender>

    <!-- console appender for console apps -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%t] %-5p [%x] - %m%n" />
      </layout>
    </appender>

    <!-- File appender, tagged with the run dateTime -->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="update.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
</configuration>