<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" culture="nuetral" publicKeyToken="db937bc2d44ff139" />
        <bindingRedirect oldVersion="1.0.0.0 - 2.0.0.0" newVersion="1.0.66.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite.Linq" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0 - 3.0.0.0" newVersion="2.0.38.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConnectUO.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ConnectUO.Framework.Properties.Settings>
      <setting name="ConnectUO_Framework_Web_ConnectUO_x0020_Web_x0020_Service" serializeAs="String">
        <value>http://209.173.140.55/ConnectUOService/ConnectUO.asmx</value>
      </setting>
    </ConnectUO.Framework.Properties.Settings>
  </applicationSettings>
  <connectionStrings><add name="ConnectUODataContext" connectionString="metadata=res://*/Data.ConnectUODataContext.csdl|res://*/Data.ConnectUODataContext.ssdl|res://*/Data.ConnectUODataContext.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\Subversion\connectuo\trunk\src\Client\Data.jab&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>